body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #ffffff; /* темный фон вашего проекта */
}

#root {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0b0b0c;
}
