@import "./assets/fonts/fonts.css";
@import "tailwindcss";

html, body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background: #ffffff; /* темный фон проекта */
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0b0b0c;
}
