body {
  display:flex;
  justify-content:center;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0b0c; /* темный фон вашего проекта */
}

#root {
  min-width: 375px;
  min-height: 100vh;
  overflow-x: hidden;
  background: #0b0b0c;
}